/* body{
    background-image: url(snow.jpg);
} */

/* h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    text-shadow: 10px;
    text-align: center;
} */

img {
    border-radius: 50%;
    margin-left: 25%;
    margin-top: 10px;
    width: auto;
}

.friends {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    gap: 20px;
    justify-content: center;
}

h1 {
    color: green;
    margin-left: 23%;
}

.f {
    background-color: black;
    border-radius: 5px;
    margin-top: 10px;
}

.e {
    margin-left: 40%;
}

img:hover {
    transform: translateY(-3px);
}

header {
    border-bottom: 2px solid grey;
}
@media (min-width:920px) { body{ background-color: yellow;}
}
